* {
    margin: 0;
}


body {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgb(60,0,171);
    background: linear-gradient(90deg, rgba(60,0,171,1) 0%, rgba(64,11,195,1) 38%, rgba(48,51,255,1) 100%, rgba(0,40,148,1) 100%);
    font-family: 'Josefin Sans', sans-serif;
    background-repeat: no-repeat;
}

h1 {
    font-size: 42px;
    text-align: center;
    width: 100%;
    height: fit-content;
    color: white;
}

form {
    margin: 1%;
    align-self: center;
    border-radius: 10px;
    width: 25%;
    min-width: 340px;
    background-color: rgba(8,8,73,1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5% 1.5%;
    box-shadow: -5px 5px 30px 1px rgba(0, 0, 0, 0.2);
}

form fieldset {
    border: none;
    margin: 0.5%;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    background-color: rgba(8,8,73,1); 
    font-size: 15px;
    color: white;
    margin: 15px;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
}

::placeholder {
    color: white;
    opacity: 0.6;
}

input:focus {
    outline: none;
}

form button {
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 15px 35px;
    background: linear-gradient(to right, #300d81, #3d23b1, #dba745, #a86731);
    background-size: 300% 100%;
    color: white;
    margin-bottom: 10px;
    transition: 0.5s;   
}

button:hover, button:active{
    color: #300d81;
    background-position: 100% 0;
    letter-spacing: 3px;
    filter: blur(.0px);
    transform: scale(1.048);
}

.contador img {
    width: 48px;
    margin: 5px 10px 0px;
}


.contador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contador p {
    color: white;
    font-size: 30px;
    margin-top: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-self: end;
    text-align: center;
    color: white;
}

footer p {
    margin: 8px;
}

#credit {
    font-size: 13px;
}
footer strong {
    border-bottom: 1px dashed white;
}
footer a {
    text-decoration: none;
    color: orange;
}

